# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

#ignore thumbnails created by windows
Thumbs.db
# Visual Studio 2015/2017 cache/options directory
source/.vs/*
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.Debug.config
[Bb]in
[Pp]ublish
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.config
source/Raptor.Api/Raptor.Api.Service/betService.config
source/Raptor.Api/Raptor.Api.Service/betService.Production.config
source/Raptor.Api/Raptor.Api.Service/betService.Staging.config
source/Raptor.Api/Raptor.Api.Service/betService.Testing.config
source/Raptor.Api/Raptor.Api.Service/cacheStorageManager.config
source/Raptor.Api/Raptor.Api.Service/cacheStorageManager.Release.config
source/Raptor.Api/Raptor.Api.Service/connections.config
source/Raptor.Api/Raptor.Api.Service/coreCaching.config
source/Raptor.Api/Raptor.Api.Service/coreCaching.Production.config
source/Raptor.Api/Raptor.Api.Service/coreCaching.Staging.config
source/Raptor.Api/Raptor.Api.Service/coreCaching.Testing.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.Production.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.Staging.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.Testing.config
source/Raptor.Api/Raptor.Api.Service/log4net.config
source/Raptor.Api/Raptor.Api.Service/log4net.Production.config
source/Raptor.Api/Raptor.Api.Service/log4net.Release.config
source/Raptor.Api/Raptor.Api.Service/log4net.Staging.config
source/Raptor.Api/Raptor.Api.Service/log4net.Testing.config
source/Raptor.Api/Raptor.Api.Service/oddsService.config
source/Raptor.Api/Raptor.Api.Service/oddsService.Production.config
source/Raptor.Api/Raptor.Api.Service/oddsService.Staging.config
source/Raptor.Api/Raptor.Api.Service/oddsService.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/betService.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/betService.Production.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/betService.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/betService.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/cacheStorageManager.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/cacheStorageManager.Release.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/connections.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/coreCaching.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/coreCaching.Production.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/coreCaching.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/coreCaching.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.Production.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Production.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Release.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/oddsService.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/oddsService.Production.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/oddsService.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/oddsService.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/Raptor.Mediatech.Integration.dll.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/Raptor.Mediatech.Integration.dll.Production.config
source/Raptor.Api/Raptor.Api.Service/Raptor.Mediatech.Integration.dll.config
source/Raptor.Api/Raptor.Api.Service/Raptor.Mediatech.Integration.dll.Production.config
source/Raptor.BackOfficeLite/Properties/PublishProfiles/
source/Raptor.BackOfficeLite/appFabricCaching.config
source/Raptor.BackOfficeLite/betService.CapeCod.config
source/Raptor.BackOfficeLite/betService.Production.config
source/Raptor.BackOfficeLite/betService.Staging.config
source/Raptor.BackOfficeLite/betService.Testing.config
source/Raptor.Api/Raptor.Api.Service/limitStorageService.config
source/Raptor.Api/Raptor.Api.Service/riskAggregatorService.config
source/Raptor.Api/Raptor.Api.Service/riskStorageService.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/limitStorageService.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/riskAggregatorService.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/riskStorageService.config
source/Raptor.BackOfficeLite/betService.config
source/Raptor.BackOfficeLite/cacheStorageManager.Release.config
source/Raptor.BackOfficeLite/cacheStorageManager.config
source/Raptor.BackOfficeLite/connections.config
source/Raptor.BackOfficeLite/coreCaching.CapeCod.config
source/Raptor.BackOfficeLite/coreCaching.Production.config
source/Raptor.BackOfficeLite/coreCaching.Staging.config
source/Raptor.BackOfficeLite/coreCaching.Testing.config
source/Raptor.BackOfficeLite/coreCaching.config
source/Raptor.BackOfficeLite/dataCacheClient.CapeCod.config
source/Raptor.BackOfficeLite/dataCacheClient.Production.config
source/Raptor.BackOfficeLite/dataCacheClient.Staging.config
source/Raptor.BackOfficeLite/dataCacheClient.Testing.config
source/Raptor.BackOfficeLite/dataCacheClient.config
source/Raptor.BackOfficeLite/log4net.CapeCod.config
source/Raptor.BackOfficeLite/log4net.Production.config
source/Raptor.BackOfficeLite/log4net.Release.config
source/Raptor.BackOfficeLite/log4net.Staging.config
source/Raptor.BackOfficeLite/log4net.Testing.config
source/Raptor.BackOfficeLite/log4net.config
source/Raptor.BackOfficeLite/oddsService.CapeCod.config
source/Raptor.BackOfficeLite/oddsService.Production.config
source/Raptor.BackOfficeLite/oddsService.Staging.config
source/Raptor.BackOfficeLite/oddsService.Testing.config
source/Raptor.BackOfficeLite/oddsService.config
source/Raptor.BackOfficeLite/limitStorageService.config
source/Raptor.BackOfficeLite/riskAggregatorService.config
source/Raptor.BackOfficeLite/riskStorageService.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/limitStorageService.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/riskAggregatorService.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/riskStorageService.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Development.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/connections.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Integration.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Production_A.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Production_B.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Staging.config
source/Raptor.Api/Raptor.Api.Service/appFabricCaching.Testing.config
source/Raptor.Api/Raptor.Api.Service/log4net.Production_A.config
source/Raptor.Api/Raptor.Api.Service/log4net.Production_B.config
source/Raptor.BackOfficeLite/appFabricCaching.Development.config
source/Raptor.BackOfficeLite/appFabricCaching.Integration.config
source/Raptor.BackOfficeLite/appFabricCaching.Production_A.config
source/Raptor.BackOfficeLite/appFabricCaching.Production_B.config
source/Raptor.BackOfficeLite/appFabricCaching.Staging.config
source/Raptor.BackOfficeLite/appFabricCaching.Testing.config
source/Raptor.BackOfficeLite/log4net.Production_A.config
source/Raptor.BackOfficeLite/log4net.Production_B.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Development.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Integration.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Production_A.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Production_B.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Staging.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appFabricCaching.Testing.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Production_A.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/log4net.Production_B.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Development.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Integration.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Production_A.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Production_B.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Staging.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.Testing.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/log4net.Production_A.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/log4net.Production_B.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/coreCaching.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.Integration.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.Integration.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/Raptor.Mediatech.Integration.dll.Production.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/Raptor.Mediatech.Integration.dll.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appFabricCaching.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/betService.CapeCod.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/betService.Production.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/betService.Staging.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/betService.Testing.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/betService.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/cacheStorageManager.Release.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/cacheStorageManager.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/coreCaching.CapeCod.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/coreCaching.Production.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/coreCaching.Staging.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/coreCaching.Testing.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.CapeCod.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.Production.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.Staging.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.Testing.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/log4net.Release.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/log4net.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/oddsService.CapeCod.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/oddsService.Production.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/oddsService.Staging.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/oddsService.Testing.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/oddsService.config
source/Raptor.Api/Raptor.Api.Service/betService.CapeCod.config
source/Raptor.Api/Raptor.Api.Service/coreCaching.CapeCod.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.CapeCod.config
source/Raptor.Api/Raptor.Api.Service/oddsService.CapeCod.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/betService.CapeCod.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/coreCaching.CapeCod.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.CapeCod.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.Integration.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/oddsService.CapeCod.config
source/Raptor.Api/Raptor.Api.Service/dataCacheClient.Development.config
source/Raptor.BackOfficeLite/dataCacheClient.Development.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/dataCacheClient.Development.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/dataCacheClient.Development.config
source/.vs/config/applicationhost.config
*.orig
source/Raptor.Risk/Raptor.Risk.LimitStorage.WebService/appSettings.Release.config
source/Raptor.Risk/Raptor.Risk.LimitStorage.WebService/appSettings.config
source/Raptor.Api/Raptor.Api.Service/appSettings.Release.config
source/Raptor.Api/Raptor.Api.Service/appSettings.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appSettings.Release.config
source/Raptor.Progam.LiveOdds/Raptor.Program.LiveOdds.WCF/appSettings.config
source/Raptor.Risk/Raptor.Risk.BetHost.WebService/appSettings.Release.config
source/Raptor.Risk/Raptor.Risk.BetHost.WebService/appSettings.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appSettings.config
source/Raptor.Shops/Raptor.Shops.Host.WebService/appSettings.Release.config
source/Raptor.Risk/Raptor.Risk.WebService/appSettings.config
source/Raptor.Risk/Raptor.Risk.WebService/appSettings.Release.config
source/Raptor.BackOfficeLite/appSettings.config
source/Raptor.BackOfficeLite/appSettings.Release.config
source/Raptor.Core/Raptor.Core.AssemblyResolver/AssemblyResolver.cs
source/Raptor.Risk.TestHarness/Properties/AssemblyInfo.cs
source/Raptor.Risk.TestHarness/Raptor.Risk.TestHarness.csproj
source/Raptor.Risk.TestHarness/RiskTestHarness.cs
source/TestHarnessDriver/App.config
source/TestHarnessDriver/Program.cs
source/TestHarnessDriver/Properties/AssemblyInfo.cs
source/TestHarnessDriver/TestHarnessDriver.csproj
source/TestHarnessDriver/connections.config
bin
obj
source/Raptor.FeedProviders/Raptor.FeedProviders.Service/app - Copy.config
source/.vs/Raptor/v15/Server/sqlite3/storage.ide-shm
source/.vs/Raptor/v15/Server/sqlite3/db.lock
source/.vs/Raptor/v15/Server/sqlite3/storage.ide
source/.vs/Raptor/v15/Server/sqlite3/storage.ide-wal
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.service.js
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.js
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.storage.js
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.models.js
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.extensions.js
source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.calculations.js
source/Raptor.Api/Raptor.Api.ClientIntegration/Tests/sportsbook.clientintegration.tests.js
*.md
*.js
source/UpgradeLog24.htm
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.storage.js.map
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.extensions.js.map
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.calculations.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.models.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.service.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.storage.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.extensions.d.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.extensions.ts
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.calculations.js.map
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.js.map
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.models.js.map
/source/Raptor.Api/Raptor.Api.ClientIntegration/ClientIntegration/sportsbook.clientintegration.service.js.map
.vs/slnx.sqlite
/source/DbDeploy/_SqlUpdates/Updates - Copy

#Include openssl binaries to be able to generate BackOffice assembly certificates
!/source/Raptor.BackOffice/Raptor.BackOffice.WPF/Certificates/openssl*/**/*.*